body {
    height: 100vh;
    overflow: hidden;
    overflow: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, white, rgba(9, 0, 128, 0.479));
    background-repeat: no-repeat;
    background-size: cover;
}
  
.board-row{
  margin-left: 38%;

}
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-top: 100px;
    margin-left: 58%;
    font-size: 18px;
  }
  
  .square {
    background: #fff;
    border: 2px solid rgba(9, 0, 128, 0.479);
    float: left;
    color: rgba(9, 0, 128, 0.479);
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  